@font-face {
  font-family: "MNPimai";
  src: url(/fonts/MNPaethaiMed.ttf) format("truetype");
}

html,
body {
  font-family: "MNPimai", sans-serif;
  font-size: 1rem;
  padding: 0px;
  margin: 0px;
}

.text-center {
  text-align: center;
}
